# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives : introduce  somme off the langauges used in data science, librairys, tools and write and excute a codes cells

### Some of the popular languages that Data Scientists use are:

#### - Python
#### -  R
#### - SQL
#### - Julia
#### - java
#### - java script
#### - C++
#### - php
#### - Go
#### - Vusia Basic

### Some of the commonly used libraries used by Data Scientists include:

#### - Pandas

#### - Numpy

#### - Matplotlib

#### - Seaborn

#### - Scikit-learn

#### - Keras

#### - TensorFlow

#### - PyTorch

#### - Apache Spark

#### - Vegas

#### - Big DL

#### - Ggplot2

 | Data Science Tools |
 |--------------------|
 |    Anaconda        |
 |    Jupyer Notbooks |
 |    Rstudio         |
 |    Spyder          |
 |Zeppelin            |

###  Below are a few examples of evaluating arithmetic expressions in Python :

In [10]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
## This will convert 200 minutes to hours by diving by 60
b = 200/60
print("200 minutes = ",b,"hours ")

200 minutes =  3.3333333333333335 hours

### Author

###  Bah cheikh